body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 96px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  text-align: center;
}

header a {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  background-color: white;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
}

header {
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/tokyo-hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  line-height: 1.5;
}

@media (max-width: 900px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 16px;
    }
    header a {
        font-size: 10px
    }
    header {
        line-height: 1;
    }
}
